* {
    margin: 0%;
    padding: 0%;
    /* background-color: black; */
    scroll-behavior: smooth;
}


.main {
    background-image: url(/images/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    

}

.right {
    display: flex;
    justify-content: end;
    bottom: 2%;
}

.right ul {
    display: flex;
    gap: 30px;
    padding-right: 1%;

}

.right a {
    font-size: medium;
    text-decoration: none;
    color: black;
}

.right a:hover {
    color: #23527c;
    text-decoration: underline;
}

.left {
    padding-left: 1%;
    padding-top: 1%;
}

.main_quote {
    font-size: 40px;
    font-weight: bold;
}

.sub_quote {
    font-size: medium;
    font-weight: bold;

}

.btn {
    position: relative;
    left: 84px;
    bottom: 5%;
}

.button1 {
    border-color: white;
    background-color: lightblue;
    margin-top: 20px;
  }
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    left: 40px;
  }
  .button2 {
    margin-top: 20px;
    background-color: transparent;
    border-color: lightblue;
  }
.button1:hover{
    background-color: aquamarine;
}  
.button2:hover{
    background-color: transparent;
}
.button1:active{
    background-color: #23527c;
}
.button:active{
    background-color: #23527c;
}
.cad{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 50px;

}
.card{
    height: 220px;
    width: 220px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    overflow: hidden;
    padding-top: 15px;
    top: -50px;
}
.img img{
    height: 60px;
    width: 60px;
    
}
.text{
    display: flex;
    flex-direction: column;
    
}
.sub-text{
    text-align: center;
    padding-top: 10px;
    color: #999999;
    text-shadow: 0px 0px 1px #ccc;
}
.th{
    font-size: 16px;
    text-align: center;
    font-weight: 500px;
    padding-top: 30px;
}

.about_us{
    display: flex;
    height: 570px;
    width: 1145px;
    overflow: hidden;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    left: 15%;
    gap: 50px;
}
.topimg0{
    height: 370px;
    width: 400px;
    border-radius: 3% 3% 3% 3%;
}
.letters{
     height: 570px;
     width: 410px; 
     top: 4%;
     position: relative;
     /* gap: 30px; */
}
.bttn{
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 20px;
        background-color:   #ffa500;
        color: whitesmoke;

    }
    .bttn:hover:active{
        color: black;
    }
.achivement{
    display: flex;
    height: 373px;
    width: 1170px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 17%;
}
.head_text{
    height: 270px;
    width: 450px;
}
.topimg2{
    height: 500px;
    width: 500px;
}
.achivement1{
    color:rgb(255, 165, 0);

}
.head_text .achivement2{
    opacity: 0.5;
}
.all_project{
    display: flex;
    height: 99px;
    width: 875px;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 20%;
}
.all_project button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
    background-color: #ffa500;
    border-radius: 50px;
    width:140px;
    text-align: center;
    color: whitesmoke;
    border: 1px solid white;
    /* font-size: small; */
}
.all_project button:active{
    color: black;
}   
.project{
    color: #ffa500;
} 
.pro_img{
    display: flex;
    height: 400px;
    width: 1170px;
    justify-content: center;
    gap: 20px;
    position: relative;
    left: 15%;
    align-items: center;
}
.pro_img img{
    width: 200px;
    height: 300px;
}
.feed{
    display: flex;
    width: 1145px;
    height: 669px;
}
.imag img{
    height: 300px;
    width: 350px;
    border-radius: 200px;
}
.txt{
    width: 400px;
    height: 600px;
    position: relative;
    /* top: -10%; */
}
.feed{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    left: 12%;
    gap: 30px;
}
.tete{
    color: #ffa500;
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
    
}
.mi{
    font-size: 40px;
    position: relative;
    left: 10%;
    top: 5%;
}
.pa{
    position: relative;
    top: 15%;
    left: 5%;
    width: 370px;
    height: 200px;
    font-size: large;
    opacity: 0.5;
}
.m{
    position: relative;
    top: 10%;
    left: 5%;
}
.txt button{
    position: relative;
    top: 8%;
    left: 5%;
    background-color: #ffa500;
    width: 150px;
    height: 40px;
    border-radius: 200px;
    border: 1px solid whitesmoke;
    color: white;
}
.txt button:active{
    color: black;
}
.suscribe{
    display: flex;
    justify-content: center;
   
}
.subn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:auto;
    font-size: 20px;
    opacity: 0.5;
}
.input{
    display: flex;
    justify-content: center;
    width: 50%;
}
.input1{
    width: 200px;
    height: 25px;
    text-align: center;
}
.last{
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 200px;
    align-items: center;

}
.xtreme{
    font-size: xx-large;
}
.last a{
    text-decoration: none;
    opacity: 0.5;
    color: #575757;
}
.last a:hover{
    text-decoration: underline;
}